:root {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
    color: #181818;
    background-color: #fafafa;
}

/*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header p {
    color: #141414;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    color: white;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #ffffff88;
    backdrop-filter: blur(10px);
    padding: 15px 0;
    color: #141414;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 3px;
}

/*--------------------------------------------------------------
  # Navigation Menu NAVBAR
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #F7BEDB;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    background: #F7BEDB;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #141414;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #141414;
    background: #DEABC5;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: #F7BEDB;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #141414;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #DEABC5;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

/*--------------------------------------------------------------
  # CALL TO ACTION
  --------------------------------------------------------------*/

.cta {
    width: 100%;
    height: 50vh;
}

.cta h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.cta h2 {
    color: #dddddd;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.cta .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #141414;
    background: #F7BEDB;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4);
}

.cta .btn-get-started span {
    font-weight: 600;
    font-size: 16px;
}

.cta .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.cta .btn-get-started:hover i {
    transform: translateX(5px);
}

.cta .cta-img {
    text-align: right;
}

@media (max-width: 991px) {
    .cta {
        height: auto;
        padding: 120px 0 60px 0;
    }

    .cta .cta-img {
        text-align: center;
        margin-top: 80px;
    }

    .cta .cta-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .cta {
        text-align: center;
    }

    .cta h1 {
        font-size: 32px;
    }

    .cta h2 {
        font-size: 24px;
    }

    .cta .cta-img img {
        width: 100%;
    }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer {
    background: #362825;
    padding: 0 0 20px 0;
    font-size: 14px;
}

.footer .footer-top {
    background: #ffffff;
    padding: 60px 0 30px 0;
}

.img-footer {
    width: 100%;
    position: relative;
    z-index: 0;
    top: 259px;
}

@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: #F7BEDB;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #DEABC5;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #DEABC5;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    transform: translateX(5px);
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #ffff;
}

.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.footer a {
    color: #F7BEDB;
}

.footer a:hover {
    color: #DEABC5;
}