/********** Template CSS **********/
:root {
    --primary: #F7BEDB;
    --hoverPrimary: #DEABC5;
    --secondary: #ebebeb;
    --hoverSecondary: #dbdbdb;
    --light: #141414;
    --dark: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#top,
#calendar.fc-theme-standard {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#calendar.fc-theme-bootstrap {
    font-size: 14px;
}

#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
}

#top .selector {
    display: inline-block;
    margin-right: 10px;
}

#top select {
    font: inherit;
    /* mock what Boostrap does, don't compete  */
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    clear: both
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 10px;
}

.form-group {
    margin-bottom: 0.05rem;
    position: relative;
}

.form-group input {
    display: block;

}

.form-success input {
    display: block;
    border-color: #2ecc71;
}

.form-error input {
    display: block;
    border-color: #e74c3c;
}

.form-group label {

    margin-bottom: 1rem;
}

.form-group small {
    position: absolute;
    visibility: hidden;
    left: -35px;
}

.form-success small {
    visibility: hidden;
    position: absolute;
    left: -35px;
}

.form-error small {
    visibility: visible;
    position: relative;
    left: -35px;
    color: #e74c3c;
}

.form-group i {
    position: relative;
    top: -55px;
    right: -90%;
    visibility: hidden;
}


.form-success i.fa-check-circle {
    color: #2ecc71;
    position: relative;
    top: -40px;
    right: -92%;
    visibility: visible;
}


.form-error i.fa-check-circle {
    visibility: hidden;
}

.form-success i.fa-exclamation-circle {
    visibility: hidden;
}

.form-error i.fa-exclamation-circle {
    color: #e74c3c;
    position: relative;
    top: -40px;
    right: -96%;
    visibility: visible;
}

.visevent{
    display: block;
}
.formedit{
    display: none;
}